* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.color-principal{
    color: #fffbad;
}
.nav-bc-yellow{
    background: linear-gradient(to right, #f5f4eb, rgb(243, 253, 149))
}

.bg-principal{
    background: linear-gradient(to right, #575757, rgb(230, 235, 185))
}
.bt-color{
    background-color: rgb(54, 54, 54) ;
    color: #fffbad;
    border-color: #fffbad;
}
.bt-color:hover{
    background-color: rgb(255, 255, 255) ;
    color: rgb(54, 54, 54);
    border-color: rgb(54, 54, 54);
}
